@use '../utils/utils' as utils;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: utils.$font-primary;
    font-size: utils.$font-size-base;
    line-height: 1.6;
    color: utils.$color-dark;
    background-color: utils.$color-light;
}

a {
    text-decoration: none;
    // color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: utils.$color-primary;
}

::-webkit-scrollbar-thumb {
    background-color: utils.$color-secondary;
    border-radius: 5px;
}