@use '../utils/utils' as utils;

.intro-banner {

    .intro-banner__heading {
        text-align: center;
        color: utils.$color-primary;
        text-decoration: underline;
        margin-bottom: 32px;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 3rem;
        
        @include utils.respond(medium) {
        flex-direction: column;
        text-align: center;
    }
    } 

    &__image-wrapper {
        flex: 1;

        .intro-banner__image {

            border-radius: 50%;
            border: 3px solid utils.$color-primary;
        }
    }

    &__info {
        flex: 2;

        background-color: utils.$color-primary;
        border-radius: 20px;

        .intro-banner__subheading {
            
            color: utils.$color-secondary;
            padding: 10px;
            text-align: left;
        }

        .intro-banner__description {
            padding: 10px;
            color: utils.$color-white;
        }
    }

    &__contacts {
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
        padding: 10px;
    

    i { color: utils.$color-secondary; margin-right: 0.5rem; }

    .contact-text {
        color: utils.$color-secondary;
    }

    .intro-banner__link {
        color: utils.$color-secondary;
    }
    }
}